@model professori
<form method="post">

<input type="text" asp-for="@Model.nome"/>
    <input type="text" asp-for="@Model.cognome" />
    <input type="text" asp-for="@Model.materia" />
    <button type="submit"> Crea Qui Il tuo profilo </button>
</form>
